/*styling.css*/
/*add font family, background image*/

body {
  background-image: linear-gradient(
    to bottom right,
    rgba(233, 249, 213, 0.758),
    rgba(181, 223, 240, 0.768)
  );
  color: #5bc0de;
  font-family: "PT Sans Narrow", sans-serif;
}

.container-fluid {
  padding-top: 150px;
}

.subheading {
  padding-bottom: 50px;
}

.fa-map-marker-alt,
.fa-dot-circle {
  color: #5bc0de;
}

/*Jumbotron*/
.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 10px;
}

.jumbotron h1 {
  letter-spacing: 2.5px;
  font-size: 3.5em;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
}

/*map*/
#googleMap {
  width: 90%;
  height: 700px;
  margin: 10px auto;
}

/*output box*/
#output {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
}

#mode {
  color: black;
}
